<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->


<!--
  This example requires updating your template:

  ```
  <html class="h-full">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
  <%= render(Secure::HeaderComponent.new(profile: @current_profile)) %>

  <div class="py-10 space-y-8">
    <% @genres.each do |genre| %>
      <section>
        <div class="mx-auto px-4 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900"><%= genre.name %></h1>
        </div>

        <div class="mt-4 px-4 sm:px-6 lg:px-8 overflow-hidden">
          <div class="whitespace-nowrap">
            <div class="inline-block w-60 h-32 overflow-hidden rounded">
              <img class="w-full h-full object-cover object-center" src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="(Movie Title)">
            </div>

            <div class="inline-block w-60 h-32 overflow-hidden rounded">
              <img class="w-full h-full object-cover object-center" src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="(Movie Title)">
            </div>

            <div class="inline-block w-60 h-32 overflow-hidden rounded">
            <img class="w-full h-full object-cover object-center" src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="(Movie Title)">
            </div>

            <div class="inline-block w-60 h-32 overflow-hidden rounded">
            <img class="w-full h-full object-cover object-center" src="https://images.unsplash.com/photo-1582053433976-25c00369fc93?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=512&q=80" alt="(Movie Title)">
            </div>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>
