<div data-controller="video-player" class="bg-black flex justify-center">
  <%= link_to movies_path, class: "absolute left-12 top-12 text-gray-300 cursor-pointer z-10" do %>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="cursor-pointer w-12 h-12">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
    </svg>
  <% end %>

  <video class="h-lvh bg-black" data-video-player-target="video" controls>

  </video>
</div>
