[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
CN = tonyfromtokyo.online
[v3_req]
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = tonyfromtokyo.online
DNS.2 = *.tonyfromtokyo.online

openssl req -x509 -sha256 -nodes -newkey rsa:2048 -days 365 -keyout config/ssl/tonyfromtokyo.online.key -out config/ssl/tonyfromtokyo.online.crt -config config/ssl/openssl.config
