<tr>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="text-gray-900"><%= @genre.key %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="text-gray-900"><%= @genre.name_en %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="text-gray-900"><%= @genre.name_ja %></div>
  </td>
  <td class="whitespace-nowrap text-center text-center px-3 py-5 text-sm text-gray-500">
    <%=
      render(Common::LinkComponent.new(
              text: I18n.t("views.editor.genres.index.edit"),
              link: editor_edit_genre_path(@genre),
              display_as_button: true
            ))
    %>
  </td>
</tr>
