<div class="min-h-full">
  <%= render(Editor::HeaderComponent.new) %>

  <div class="mx-auto max-w-4xl my-8">
    <h2 class="text-base text-xl font-semibold leading-7 text-gray-900">Edit a movie</h2>

    <%= render "form", movie: @movie, edit: true %>
  </div>
</div>
